body{
    background-color: rgb(255, 255, 255);
    margin: 0;
     padding: 4px;
}

.moto{
    background-color: rgb(156, 52, 52);
    height: 65px;
   position: relative;
   top: 0;
   
}
.carro{
    position: absolute;
    bottom: 23%;
    left: 400px;
    top: 15px;
}
ul{
    list-style: none;
    padding: 5px;
    display: inline;
  
}
li{
 display: inline;
 padding: 5px;
}
.cores{
    border-color: rgb(165, 42, 42);
    border-radius: 8px;
    border-left: 3px solid rgb(165, 42, 42);
}
.titulo{
    color: aliceblue;
}